.footer{
    background-color: #ffa781;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    margin-bottom: -200px;
    border: 5px solid #5b0e2d;
    color: #5b0e2d;
    font-weight: 700;
}

.navbar{
    background-color: #ffa781;
    border: 5px solid #5b0e2d;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;

}

.navbar a{
    color: #5b0e2d;
    margin-left: 1em;
    text-decoration: underline ;
    transition: .3s;
    font-size: 20px;
    font-weight:bold;
}

.navbar a:hover{
    color: #cfe5ff;
}